<div class="container">
    <form action="/auth/signup" method="POST">
      <div class="row mb-3">
        <div class="col-6">
            <label>First Name</label>
          <input name="firstname" class="form-control" placeholder="John/Jane" />
        </div>
        <div class="col-6">
            <label>Last Name</label>
          <input name="lastname" class="form-control" placeholder="Doe" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <label>User Name</label>
          <input name="username" class="form-control" placeholder="username" />
        </div>
        <div class="col-6">
          <label>Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            placeholder="*******"
          />
        </div>
      </div>
      <button class="btn btn-primary">Sign Up</button>
    </form>
  </div>
  