<h2>New Airplane!</h2>
<div class="container">
    <form action="/airplanes/new" method="POST">
      <div class="row mb-3">
        <div class="col-6">
            <label>Airplane Name</label>
          <input name="name" class="form-control" placeholder="Boing 747" />
        </div>
      </div>
      <!-- <div class="row mb-3">
        <div class="col-6">
          Senior
          <input name="role" type="radio" class="form-control" value="senior" />
        </div>
        <div class="col-6">
          Helper
          <input name="role" type="radio" class="form-control" value="helper" />
        </div>
      </div> -->
      <!-- <div class="row mb-3">
        <div class="col-6">
          <label>User Name</label>
          <input name="username" class="form-control" placeholder="username" />
        </div>
        <div class="col-6">
          <label>Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            placeholder="*******"
          />
        </div> -->
      </div>
      <button class="btn btn-primary">New Airplane</button>
    </form>
  </div>
  