<div class="col mx-auto">
<h2>New Airplane!</h2>
<div class="form-group">
    <form action="/airplanes/new" method="POST">
      <div class="row mb-3">
        <div class="col-6">
            <label>Airplane Name</label>
          <input name="name" class="form-control" placeholder="Boing 747" />
        </div>
      </div>
      </div>
      <button class="btn btn-primary">New Airplane</button>
    </form>
  </div>
</div>