<h2>Add new flightlog</h2>
<div class="container">
<form action="/flightlogs/new/<%= airplane._id %>" method="POST">
    <div class="row md-3">
        <label>Description</label>
        <input type="text" name="description" class="form-control" />
    </div>
    <div class="row md-3">
        <label for="duration">Duration</label>
        <input type="range" class="custom-range" min="0" max="60" id="duration" name="duration">
        <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan"></span>
    </div>
    <div class="row md-3">
        <label>Flight Date</label>
        <input type="date" name="flightDate" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Create Log</button>
    </div>
</form>
</div>