
<div class="col mx-auto">
<h2>Flight Log</h2>
<div>
    <div>
        <h3><%= log.aircraft.name %> </h3>
    </div>
    <div>
        <label>Description: </label>
        <span><%= log.description %> </span>
    </div>
    <div>
        <label>Flight Date: </label>
        <span><%= moment(log.flightDate).format(shortDateFormat) %> </span>
    </div>
    <div>
        <label>Flight Duration: </label>
        <span><%= log.duration %> minutes</span>
    </div>
    
</div>
</div>