<h2>Add new maintenance log</h2>
<div class="container">
<form action="/mlogs/new/<%= airplane._id %>" method="POST">
    <div class="row md-3">
        <label>Description</label>
        <input type="text" name="description" class="form-control" />
    </div>
    
    <div class="row md-3">
        <label>Log Date</label>
        <input type="date" name="logDate" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Create Log</button>
    </div>
</form>
</div>